.client-details-data-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;

  height: 270px;
}

.client-details-data-grid > div {
  padding: 12px;
  text-align: left;
  font-weight: 500;
}

.client-details-data-grid-minor {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.client-details-data-grid-minor p {
  font-weight: 700;
  font-size: 16px;
}
