.clients-details-page {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: #f8f8f9;
}

.clients-details-page-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px 140px 60px 82px;
  overflow-y: auto;
}

.client-details-content-header {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 26px;
  font-weight: 600;
  padding-bottom: 24px;
}

.client-details-content-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  padding: 24px 24px;
  border-radius: 30px;
}

.client-details-data {
  display: flex;
  width: 100%;
}

.client-details-data-header {
  display: flex;
  width: 100%;
  height: 33px;
  justify-content: space-between;
}

.client-details-data-header p {
  font-weight: 700;
  font-size: 18px;
}

.client-details-data-header button {
  display: flex;
  width: 246px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #dedee9;
  color: #0e8750;
}
